body {
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
  color: #000000;
  letter-spacing: 0 !important; }

h1, h2, h3, h4, h5, h6, p {
  letter-spacing: 0 !important; }

h1 {
  font-weight: 500 !important;
  font-size: 38px !important;
  line-height: 25px !important; }

h2 {
  font-weight: 500 !important;
  font-size: 35px !important;
  text-transform: none;
  letter-spacing: 0 !important; }
  @media (max-width: 768px) {
    h2 {
      font-size: 25px !important; } }

h3 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
  font-size: 35px !important;
  line-height: 54px !important;
  text-transform: none !important; }

h4 {
  color: #000000 !important;
  font-weight: 500;
  font-size: 28px !important;
  line-height: 28px;
  text-transform: none;
  letter-spacing: 0 !important; }
  @media (max-width: 768px) {
    h4 {
      font-size: 20px !important; } }

h5 {
  font-weight: normal;
  font-size: 25px;
  line-height: 39px;
  text-transform: none; }

.display {
  font-style: normal;
  font-weight: 600 !important;
  font-size: 80px !important;
  color: #383A98; }
  @media (max-width: 768px) {
    .display {
      font-size: 60px !important; } }

.btn-foms {
  font-family: 'Roboto', sans-serif !important;
  background: #79C4CC !important;
  border-radius: 35px !important;
  color: #FFFFFF !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 23px !important;
  padding: 15px 100px !important;
  transition: 0.5s; }
  @media (max-width: 768px) {
    .btn-foms {
      font-weight: normal !important; } }
  .btn-foms:hover {
    background: #383A98 !important; }

.dissapear {
  opacity: 0; }

#nav-menu {
  padding-top: 15px; }
  #nav-menu .logo {
    padding: 10px 22px 10px 0;
    border-right: 1px solid #383A98; }
    @media (max-width: 768px) {
      #nav-menu .logo {
        border-right: none; } }
  #nav-menu .cia {
    cursor: default;
    margin-left: 25px;
    color: #383A98;
    text-decoration: none !important; }
    @media (max-width: 768px) {
      #nav-menu .cia {
        display: none; } }

.comunication .telephone {
  color: #383A98;
  font-weight: bold; }
.comunication .whatsapp {
  color: #000000;
  font-weight: bold;
  margin-left: 18px; }
  @media (max-width: 768px) {
    .comunication .whatsapp {
      display: none; } }

.invalid-feedback {
  margin: 0 !important; }

.invalid {
  margin: 0 !important; }

.cotization {
  margin-top: 80px; }
  @media (max-width: 768px) {
    .cotization {
      margin-top: 50px; } }
  .cotization .form-head {
    position: relative;
    z-index: 3; }
    @media (max-width: 768px) {
      .cotization .form-head {
        text-align: center;
        margin-top: 0; } }
  .cotization h2 {
    margin-top: 20px; }
    @media (max-width: 768px) {
      .cotization h2 {
        font-size: 30px !important; } }
  .cotization p {
    font-size: 12px;
    margin-top: 85px; }
    @media (max-width: 768px) {
      .cotization p {
        margin-top: 15px;
        margin-bottom: 50px; } }
  .cotization a {
    cursor: default;
    color: #383A98 !important; }
  .cotization .btn-order {
    display: none;
    margin-bottom: -30px;
    font-weight: normal !important;
    color: #FFFFFF !important;
    background: #383A98 !important; }
    @media (max-width: 768px) {
      .cotization .btn-order {
        display: initial; } }
  .cotization #contact-form {
    position: relative;
    z-index: 1;
    padding: 55px 60px;
    background: #F7F7F7;
    border-radius: 12px; }
    @media (max-width: 768px) {
      .cotization #contact-form {
        padding: 20px;
        padding-top: 60px; } }
    .cotization #contact-form h5 {
      margin-bottom: 30px; }
    .cotization #contact-form .form-control {
      border-radius: 5px;
      border: 1.5px solid #D2D2D2;
      height: 55px; }
    .cotization #contact-form .btn-foms {
      width: 100%;
      padding-top: 17px;
      padding-bottom: 17px; }
    .cotization #contact-form .form-group {
      margin-bottom: 15px;
      margin-top: 20px; }

@media (max-width: 768px) {
  .formulario {
    padding: 0 !important; } }

#sended {
  margin-top: 30px;
  margin-bottom: 30px; }
  #sended h4 {
    margin-top: 30px; }
  #sended p {
    margin-top: 10px;
    font-size: 16px !important; }
  #sended a {
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold; }

.img-separator {
  margin-top: -60px;
  margin-bottom: -150px;
  transition: 0.7s; }
  @media (max-width: 768px) {
    .img-separator {
      margin-top: 0;
      margin-bottom: -20px; } }
  .img-separator img {
    width: 100% !important;
    height: auto; }

.cover {
  text-align: center;
  color: #FFFFFF !important;
  transition: 0.7s; }
  .cover .container {
    background: #79C4CC;
    border-radius: 13px; }
  .cover h2 {
    margin-top: 50px;
    color: #FFFFFF !important; }
    @media (max-width: 760px) {
      .cover h2 {
        margin-bottom: 20px;
        margin-bottom: 20px; } }
  @media (max-width: 760px) {
    .cover .cover-card-cont {
      padding: 20px 20px;
      border-bottom: 1px solid #FFFFFF;
      margin-right: 20px;
      margin-left: 20px; } }
  .cover .cover-card {
    height: 370px;
    margin-top: 60px;
    padding: 20px 40px;
    border-right: 1px solid #FFFFFF; }
    @media (max-width: 1024px) {
      .cover .cover-card {
        height: 430px;
        margin-top: 0px;
        padding: 20px 20px; } }
    @media (max-width: 950px) {
      .cover .cover-card {
        border: none;
        height: 470px; } }
    @media (max-width: 768px) {
      .cover .cover-card {
        border: none;
        height: auto;
        padding: 0;
        padding-bottom: 20px; } }
    .cover .cover-card p {
      font-size: 20px; }
    .cover .cover-card img {
      width: 200px; }
      @media (max-width: 768px) {
        .cover .cover-card img {
          width: 170px; } }
  .cover .btn {
    margin: -17px 20px 70px 0 !important;
    padding: 5px 70px !important;
    background: #3D878F !important;
    transition: 0.5s; }
    @media (max-width: 768px) {
      .cover .btn {
        margin: -17px 0px 45px 0 !important; } }
  .cover .btn-consult {
    border-radius: 35px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 23px !important;
    color: #3D878F !important;
    background: #FFFFFF !important; }
    @media (max-width: 768px) {
      .cover .btn-consult {
        font-weight: normal !important; } }
    .cover .btn-consult:hover {
      color: #FFFFFF !important;
      background: #3D878F  !important; }
  .cover .last {
    border: none !important; }

.order h2 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px; }
.order .left {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  @media (max-width: 500px) {
    .order .left {
      margin-left: 30px; } }
  @media (max-width: 380px) {
    .order .left {
      margin-left: 0px; } }
.order h4, .order p {
  margin-top: 10px;
  margin-left: 33px; }
  @media (max-width: 768px) {
    .order h4, .order p {
      margin-left: 0 !important; } }
.order .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap; }
  @media (max-width: 1024px) {
    .order .right {
      padding-right: 120px; } }
  @media (max-width: 950px) {
    .order .right h4, .order .right p {
      text-align: right; }
    .order .right .circle-container {
      margin-right: 45px; } }
  @media (max-width: 950px) and (max-width: 500px) {
    .order .right .circle-container {
      margin-right: 0px; } }

  @media (max-width: 768px) {
    .order .right {
      padding-right: 20px; } }
@media (max-width: 768px) {
  .order .reverse {
    flex-direction: row-reverse; } }
.order .center {
  display: flex;
  justify-content: center;
  text-align: center; }
.order .number {
  position: relative;
  width: 51px;
  height: 51px;
  background: #383A98;
  border-radius: 50%;
  margin-right: 26px; }
  @media (max-width: 768px) {
    .order .number {
      margin-left: 20px; } }
  .order .number p {
    position: absolute;
    top: 9px;
    color: #FFFFFF;
    font-size: 24px;
    margin: 0 !important; }
  .order .number .one {
    right: 22px; }
  .order .number .two {
    top: 8px !important;
    right: 19px; }
.order .circle-container {
  position: relative; }
.order .circle {
  position: relative;
  background: #FFD78F;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden; }
  @media (max-width: 768px) {
    .order .circle {
      width: 130.85px;
      height: 130.85px; } }
  .order .circle-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 120%;
    height: 190px;
    background: #F7F7F7;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out; }
  .order .circle-img {
    position: absolute;
    top: 27px;
    z-index: 2; }
    @media (max-width: 768px) {
      .order .circle-img {
        top: 20px; } }
  .order .circle-img3 {
    position: absolute;
    bottom: -4px;
    z-index: 2; }
  .order .circle-img4 {
    position: absolute;
    top: 6px;
    z-index: 2; }
  .order .circle-img-final {
    height: 224px; }
    @media (max-width: 768px) {
      .order .circle-img-final {
        height: 180px; } }
  .order .circle .circle-overlay.active {
    top: 300px; }
.order .final {
  background: transparent !important;
  overflow: initial !important; }
.order h5 {
  font-size: 25px; }
.order h4 {
  margin-top: 20px; }
.order .simple h5 {
  margin-bottom: 45px; }

.staff {
  display: none; }

.staff.active {
  display: block; }

.sales {
  margin-bottom: -300px;
  margin-top: 80px; }
  @media (max-width: 768px) {
    .sales {
      margin-top: 50px; } }
  .sales img {
    border-radius: 42px; }
    @media (max-width: 768px) {
      .sales img {
        border-radius: 0;
        width: 100% !important; } }

.float-card {
  display: flex;
  justify-content: center; }
  @media (max-width: 400px) {
    .float-card {
      display: block; } }
  @media (max-width: 1024px) {
    .float-card .img-container {
      padding: 0 !important;
      margin-bottom: -100px; } }
  .float-card p {
    margin-top: 0px;
    font-size: 17px;
    margin-bottom: 0; }
  .float-card .name {
    font-size: 22px;
    margin-top: 20px;
    font-weight: 500; }
  .float-card .card {
    padding: 40px;
    width: 500px;
    background: #79C4CC;
    border: none;
    border-radius: 13px;
    color: #FFFFFF !important;
    z-index: 1; }
    @media (max-width: 400px) {
      .float-card .card .card-body {
        padding: 10px !important; } }
    .float-card .card h2 {
      margin-bottom: 30px;
      color: #FFFFFF !important;
      font-weight: 600; }
      @media (max-width: 768px) {
        .float-card .card h2 {
          margin-bottom: 10px;
          font-weight: 500; } }
    .float-card .card p {
      font-size: 22px;
      margin-bottom: 20px; }
      @media (max-width: 768px) {
        .float-card .card p {
          font-size: 18px; } }
    .float-card .card a {
      color: #FFFFFF !important;
      font-weight: normal;
      font-size: 20px;
      font-family: 'Roboto', sans-serif !important;
      text-decoration: none !important; }
      @media (max-width: 768px) {
        .float-card .card a {
          font-size: 25px; } }

.clients {
  padding-top: 370px;
  background: #F6F6F6;
  padding-bottom: 50px; }
  .clients h2 {
    margin-bottom: 50px; }
  .clients .card {
    padding: 30px !important;
    text-align: center;
    width: 560px;
    height: 200px;
    padding: 20px 30px 10px 30px;
    display: flex;
    justify-content: center; }
    @media (max-width: 768px) {
      .clients .card {
        height: 250px; } }
    .clients .card h5 {
      color: #383A98 !important;
      font-weight: normal !important; }

.social {
  background: #45469F;
  padding: 10px 0; }
  .social .media {
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    padding-bottom: 20px; }
    @media (max-width: 768px) {
      .social .media {
        justify-content: center; } }
    .social .media a {
      color: #FFFFFF !important;
      margin-left: 20px; }
    .social .media .telephone {
      margin: 0; }

footer {
  background: #F6F6F6;
  padding-bottom: 20px; }
  @media (max-width: 768px) {
    footer {
      text-align: center; } }
  footer img {
    width: 100% !important; }
  footer a {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px !important;
    color: #727272 !important; }
  footer p {
    color: #727272;
    font-size: 11px;
    font-family: 'Roboto', sans-serif !important;
    margin: 0 !important; }

.stroke-final {
  height: 150px !important;
  stroke-width: 8; }

.stroke-container {
  position: relative;
  width: 220px;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px; }

@media (min-width: 380px) {
  .stroke-container {
    width: 280px;
    height: 140px;
    margin-top: 20px;
    margin-bottom: 20px; } }
@media (min-width: 500px) {
  .stroke-container {
    margin-left: 75px; } }
@media (min-width: 768px) {
  .stroke-container {
    width: 450px;
    height: 210px;
    margin-left: 75px; } }
@media (min-width: 1024px) {
  .stroke-container {
    width: 450px;
    height: 210px;
    margin-left: 60px; } }
@media (min-width: 1200px) {
  .stroke-container {
    width: 450px;
    height: 210px;
    margin-left: 40px; } }
.stroke-back {
  z-index: 0; }

.stroke-color {
  z-index: 1;
  display: none; }

.stroke-color.active {
  display: block;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear forwards; }

@keyframes dash {
  from {
    stroke-dashoffset: 1000; }
  to {
    stroke-dashoffset: 0; } }
.stroke {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.stroke-right {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 75px !important; }

.swiper-slide {
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.swiper-pagination-bullet-active {
  background: #383A98 !important; }

/*# sourceMappingURL=landing.css.map */
