//====================================
// Global Imports
//====================================
// 1- Import bootstrap framework
@import '5-layout/circular-std';
@import '1-frameworks/index';
// 2 - Import plugins
@import '2-plugins/index';
// 3 - Import base style, custom variables and mixins
@import '3-base/index';
// 4 - Import modules
@import '4-modules/index';
// 5 - Import layout  styles
@import '5-layout/index';


body {
  font-family: "CircularStd", sans-serif !important;
  font-size: 15px;
  color: $secondary;
  font-weight: 300;
}

strong {
  font-weight: bold !important;
}

#main {
  width: 100%;
  overflow: hidden;
}


// TYPE

h1 {
  font-weight: 600;
  text-align: center;
  font-size: 40px;
  line-height: 45px;
  @include media-breakpoint-up(lg) {
    text-align: left;
  }
}

h2 {
  //margin-top: 60px;
  //margin-bottom: 60px;
  font-weight: 600;
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
  line-height: 30px;
}

h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

h6 {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.display {
  font-weight: 600 !important;
  font-size: 60px !important;
  line-height: 76px !important;
  margin: 0;
  padding-bottom: 15px;
}

p {
  font-size: 15px;
  line-height: 24px;
}

.lead {
  font-size: 1.25rem;
  line-height: 28px;
}

a {
  color: #FFFFFF;
  transition: 0.5s;

  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

// BACKGROUNDS

.bg-yellow {
  background: #FBF5E4;

  &.block {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.block {
  padding: 60px 0;
}

// COMPONENTS : BUTTONS

.btn-group {
  .btn {
    margin-right: 8px;
    @include media-breakpoint-down(md) {
      margin-right: 0;
    }
  }
}

.btn {
  //font-weight: 600;
  //font-size: 13px;
  //padding: 7px 20px;
  text-transform: uppercase;

  &-xs-block {
    @include media-breakpoint-down(md) {
      display: block;
      margin: 7.5px 0;
    }
  }
}

// BLOCK: LIST COVERAGES

#coverages {
  margin-bottom: -15px;
}

.btn-coverage {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid $light;
  transition: 0.5s;
  position: relative;
  padding: 15px;
  margin-bottom: 15px;
  color: $secondary;

  &:hover {
    background: $primary;
    cursor: pointer;
    transform: scale(1.05);
    border: 1px solid $warning;
    color: $secondary
  }

  .btn-icon {
    height: 55px;
    margin-right: 5px;

  }

  .lead {
    margin: 0;
    display: block;
    margin: 7.5px 0;
    font-size: 17px;
    letter-spacing: -0.3px;
  }

  .b-arrow {
    position: absolute;
    right: 20px;
    width: 12px;
    height: 33px;
  }
}

// End Buttons

// Anchors

.anchor {
  color: $secondary;
  transition: 0.5s;

  &:hover {
    text-decoration: none;
    color: $warning;
  }
}

//End Anchors

// COMPONENT: CARDS

.card {
  border: none;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid $light;
  height: calc(100% - 30px);
  padding-bottom: 50px;
  &-title {
    a {
      color: $secondary;
    }
    a:hover {
      color: $info;
    }
  }
  &-actions {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    width: auto;
  }

  &-img {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.card.price, .card.product {
  margin-bottom: 20px;

  .btn {

  }
}

.single-card {
  position: relative;
  @include media-breakpoint-up(lg) {
    padding: 30px;
  }

  .img-float {
    position: absolute;
    right: -60px;
    top: 100px;
  }
}


// COMPONENTS : NAVBAR

.navbar {
  padding: 10px 0;
  background: $primary-light;
  @include media-breakpoint-up(lg) {
    background: white;
    //padding: 20px 0;
    padding: 12px 0;
  }

  .nav-link {
    padding-left: 12px !important;
    padding-right: 12px !important;
    color: $secondary;
  }

  &-brand {
    margin-right: 0;
    margin-top: -3px;
  }

  .anchor {
    color: #343A40;
    transition: 0.5s;
    margin-left: 15px;

    &:hover {
      color: $primary;
    }
  }

  a {
    color: $secondary;
  }

  .btn {
    margin-left: 15px;
  }

  .dropdown-menu {
    border: none;
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.24);
    width: 950px;
    margin-left: -300px;
    padding: 30px;

    h5 {
      color: $secondary;
      font-size: 14px;
      height: 60px;
      font-weight: 400;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      line-height: 15px;
    }
  }

}

.nav-navigation {
  font-size: 20px;
  margin-top: 15px;
}

.btn-header {
  transition: all 0.5s;

  &:hover {
    transform: scale(1.1);

    h5 {
      //color: $info;
    }
  }
}

.offcanvas {
  .nav-link {
    padding: 15px 30px !important;
    border-bottom: 1px solid $gray-300;

    span {
      padding-top: 12px;
      display: inline-block;
    }

    img {
      display: inline-block;
    }

  }
}

#coberturas.offcanvas {
  .nav-link {
    padding: 10px 30px !important;
  }
}

// HEADER

.header {
  margin-top: 75px;
  overflow: hidden;
  height: 550px;
  @include media-breakpoint-down(md) {
    height: auto;
  }


  .center {
    align-self: center;
    padding-right: 130px;
    @include media-breakpoint-down(md) {
      padding: 60px 30px;
      text-align: center;
    }
  }

  .img-sm {
    width: 100%;
    height: auto;
  }
}


// Our covers Section

.our-covers {
  margin-bottom: 60px;

  h2 {
    margin-bottom: 15px;
  }

  .btn-special {
    margin-bottom: 15px;
    @include media-breakpoint-down(md) {
      box-shadow: none;
      border: none;
      border-bottom: 0.5px solid #000000;
      margin-left: 100px;
      width: auto;
      .btn-icon {
        position: absolute;
        left: -80px;
      }
    }

  }
}


//SECTIONS

section.block {
  position: relative;

  .container, .row {
    height: 100%;
  }
}


// BLOCK : DIFERENT

#diferent {
  text-align: center;

  img {
    height: 150px;
  }

  h5 {
    margin-top: 30px;
  }
}

// BLOCK : HELP
.help-image, .seller-image {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  overflow: hidden;
  background-size: cover;
}


//Order Section

.order {
  text-align: center;
  margin-bottom: 60px;

  .title {
    font-weight: normal;
  }

  .img-float {
    right: -32px;
    height: 40px;
  }

  .card {
    height: 331px;
    margin-bottom: 60px;
  }
}

//End Order Section


//Cover Section

.cover {
  h1 {
    margin-bottom: 15px;
  }

  .lead {
    margin-bottom: 30px;
  }
}


//End Cover Section


//Plans Section

.plans {
  .xl-plans {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .swiper-container {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .card {
    margin-bottom: 30px;
  }

  .card-body {
    h6 {
      margin: 0;
      font-size: 14px;
      font-weight: 600;
    }

    h2 {
      margin: 0;
      margin-bottom: 30px;
    }

    .plans-text {
      font-size: 14px;
      line-height: 18px;
      text-align: left;
      margin-left: 30px;
      position: relative;
    }

    .check {
      position: absolute;
      top: 5px;
      left: -30px;
    }

    .btn {
      margin-top: 15px;
    }
  }
}

// SECTION: PRICES
.card.price {
  .icon {
    text-align: center;
    margin: 15px auto 0;

    img {
      width: 100%;
    }
  }

  .card-head {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
  }

  .card-price {
    text-align: center;
    margin-top: 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $gray-600;
  }
}


// FOOTER
footer {
  background: #2E3547;

  .highlight-text {
    h5 {
      font-weight: normal;
      font-size:18px;
      color: white;
      @include media-breakpoint-up(md){
        text-align: right;
      }
      margin-top: 3rem;
      line-height: 34px;
      span {
        background: $primary;
        color: $secondary;
      }
    }
  }

  p {
    color: #FFFFFF;
    margin-bottom: 0;
    line-height: 30px;
  }

  .footer-xl {
    padding-bottom: 60px;

    .logo {
      margin-top: 60px;
      margin-bottom: 30px;
    }

    .contact {
      margin-top: 60px;
      @include media-breakpoint-up(md) {
        text-align: right;
      }
      a {
        display: inline;
        @include media-breakpoint-up(md) {
          text-align: right;
          margin-left: 15px;
        }
      }
    }
  }

  .footer-sm {
    height: 220px;
    text-align: center;
    @include media-breakpoint-up(md) {
      display: none;
    }

    .logo {
      margin-top: 40px;
    }

    .contact {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

#footer-menu {
  .nav-link {
    color: $secondary;

    &:hover {
      color: $info;
    }
  }
}

.legal-footer {
  background: #f5f5f5;

  p {
    font-size: 11px;
    line-height: 16px;
    color: #9c9c9c !important;
    text-align: center;
  }
}


// swiper styles


.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

// WORDPRESS EDIT

.wp-block {
  max-width: inherit !important;
  font-family: $font-family-base !important;

  .breadcrumb {
    display: none;
  }
}


// PAGES TEMPLATES

#single-wrapper {
  position: relative;
  margin-top: 60px;
  @include media-breakpoint-up(lg) {
    margin-top: 78px;
  }
}

// BLOCK : HEADING
.heading-bg {
  width: 100vw;
  left: calc(-1 * (100vw - 100%) / 2);
  top: 0;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  background: $primary-light;
}

#heading.has-image {
  .container, .row {
    height: 100%;
  }
}

#heading {
  &.has-image {
    @include media-breakpoint-up(lg) {
      height: 600px;
      padding-bottom: 0;
      padding-top: 0;
    }

    .breadcrumb {
      top: 0px;
    }
  }

  .container {
    position: relative;
  }

  .breadcrumb {
    position: absolute;
    top: -60px;
    left: 15px;
    right: 0;

    a:hover {
      color: $info;
    }

  }
  h6{
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
  h2.display {
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
  .lead {
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }

  .inner {
    padding-top: 60px;
  }

  .buttons {
    margin-bottom: 30px;
  }
}


.heading-image {
  @include media-breakpoint-up(lg) {
    min-height: 600px;
  }
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.card.form {
  position: relative;
  z-index: 2;
}

//BREADCRUM

.breadcrumb {
  @include media-breakpoint-down(md) {
    display: none;
  }
  padding: 30px 0 0 !important;
  margin-bottom: 0 !important;

  a {
    color: $secondary !important;

    &:hover {
      color: $primary;
    }
  }
}

//CALLER
.caller {
  .inner {
    max-width: 500px;
    margin: 0 auto;
  }
}


//HELPERS
.break-container {
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.break-container.right {
  width: 50vw;
  position: absolute;
  left: 0px;
  top: 0px;
}

.min-gutters {
  padding-right: 7.5px;
  padding-left: 7.5px;

  .row {
    margin-right: -7.5px;
    margin-left: -7.5px;

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
      padding-right: 7.5px !important;
      padding-left: 7.5px !important;
    }
  }
}

.entry-content {
  @extend .container;

  .block {
    @extend .break-container;
  }

  .wpcf7 {
    label, input {
      width: 100%;
    }
  }
}

//FORMS
.form-control {
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.form-group {
  label {
    text-align: left !important;
    display: block;
  }

  margin-bottom: 30px;
}

.input-group-text {
  background: none;
  border-left: none;
  border-top: none;
}


// PAGE : FORM

.seller {
  text-align: center;

  &-image {
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.form-block {
  @include media-breakpoint-down(md) {
    .btn {
      display: block;
      width: 100%;
    }
  }
}

.seller-text {
  margin-top: 30px;

  h2 {
    text-align: center;
    margin-bottom: 10px;
    line-height: 40px;
  }

  .lead {
    margin-bottom: 30px;
  }
}

.form-block {
  padding-bottom: 60px;

  &-actions {
    padding-top: 15px;
  }
}

.form-sell {
  .btn-link {
    margin-top: -30px;
    margin-bottom: 60px;
  }
}


.fade-enter-active {
  transition: all .5s ease;
  ransform: translateY(0px);
  transition-delay: 0.3s;
}

.fade-enter {
  opacity: 0;
  transform: translateY(10px);
}

.fade-leave-to {
  opacity: 0;
  transition: all .2s ease;
}

.fade-leave {
  transition: all .2s ease;
  opacity: 0;
}


// RADIO
.customradio {
  margin-bottom: 15px;
  margin-top: 15px;
}

.customradio div {
  clear: both;
  /*margin: 0 50px;*/
  overflow: hidden;
  font-size: 16px;

}

.customradio-primary.is-invalid {
  label {
    border: 1px solid $danger !important;
    color: $danger;
  }
}

.customradio label {
  /*min-width: 400px;*/

  width: 100%;
  border-radius: 3px;
  border: 1px solid $light;
  font-weight: normal;
  text-align: left;
  padding-left: 30px;
}

.customradio input[type="radio"]:empty, .customradio input[type="checkbox"]:empty {
  display: none;
}

.customradio input[type="radio"]:empty ~ label, .customradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 3.5em;
  text-indent: 3.25em;
  margin-top: 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.customradio input[type="radio"]:empty ~ label:before, .customradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 60px;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.customradio input[type="radio"]:hover:not(:checked) ~ label:before, .customradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f007";
  content: '\f00c';
  color: $secondary;
  text-align: center;
  text-indent: 1px;
}

.customradio input[type="radio"]:hover:not(:checked) ~ label, .customradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: $secondary;
}

.customradio input[type="radio"]:checked ~ label:before, .customradio input[type="checkbox"]:checked ~ label:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f007";
  content: '\f00c';
  color: $secondary;
  text-indent: 1px;
  text-align: center;
  background-color: $gray-200;
}

.customradio input[type="radio"]:checked ~ label, .customradio input[type="checkbox"]:checked ~ label {
  color: $secondary;
}

.customradio-primary input[type="radio"]:checked ~ label:before, .customradio-primary input[type="checkbox"]:checked ~ label:before {
  color: $secondary;
  background-color: $primary;
}


.icons {
  .icon {
    width:150px;
    height: 150px;
    position:relative;
    margin: 0 auto;
    &:before {
      @include media-breakpoint-down(md){
        display: none;
      }
    }
  }
  .icon-block.line {
    .icon {
      &:before {
        content: '';
        width: 50%;
        position: absolute;
        height: 2px;
        background: $secondary;
        top: 50%;
        right: -70%;
      }
    }
    &:last-of-type {
      .icon:before {
        display: none;
      }
    }
  }
  .icon-block.arrow {
    .icon {
      &:before {
        content: '';
        width: 50%;
        position: absolute;
        height: 150px;
        background: $secondary;
        top: 0;
        right: -60%;
        margin-right: -10px;
        background: url("../img/arrow.svg") center center no-repeat;
      background-size:20px;
      }
    }
    &:last-of-type {
      .icon:before {
        display: none;
      }
    }
  }
}

#products {
  .card.price {
    ul {
      list-style: none;
      padding-left:20px;
      li {
        font-size: 14px;
      }
    }
    ul li:before {
      font-family: 'FontAwesome';
      content: '\f00c';
      margin:0 5px 0 -15px;
      color: $info;
    }
  }
}
.navbar-nav.text-dark{
  font-size: 20px;
  color: #343A40!important;
  margin-top: 8px;
  @include media-breakpoint-up(md){
    margin-left: 8px;
  }
}
