body{
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px !important;
    color: #000000;
    letter-spacing: 0 !important;
}
h1, h2, h3, h4, h5, h6, p {
    letter-spacing: 0 !important;
}
h1{
    font-weight: 500 !important;
    font-size: 38px !important;
    line-height: 25px !important;  
}
h2{
    font-weight: 500 !important;
    font-size: 35px !important;
    text-transform: none;
    letter-spacing: 0 !important;
    @media (max-width: 768px){
        font-size: 25px !important;
    }
}
h3{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    font-size: 35px !important;
    line-height: 54px !important;
    text-transform: none !important;
}
h4{
    color: #000000 !important;
    font-weight: 500;
    font-size: 28px !important;
    line-height: 28px;
    text-transform: none;
    letter-spacing: 0 !important;
    @media (max-width: 768px){
        font-size: 20px !important;
    }  
}
h5{
    font-weight: normal;
    font-size: 25px;
    line-height: 39px;
    text-transform: none;
}
.display{
    font-style: normal;
    font-weight: 600 !important;
    font-size: 80px !important;
    color: #383A98;
    @media (max-width: 768px){
        font-size: 60px !important;
    }  
}
.btn-foms{
    font-family: 'Roboto', sans-serif !important;
    background: #79C4CC !important;
    border-radius: 35px !important;
    color: #FFFFFF !important;
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 23px !important;
    padding: 15px 100px !important;
    transition: 0.5s;
    @media (max-width: 768px){
        font-weight: normal !important;
    }  
    &:hover{
        background: #383A98 !important;
        cursor: pointer !important;
    }
}
.dissapear{
    opacity: 0;
}
#nav-menu{
    padding-top: 15px;
    .logo{
        padding: 10px 22px 10px 0;
        border-right: 1px solid #383A98;
        @media (max-width: 1024px){
            border-right: none;
        }
    }
    .cia{
        cursor: default;
        margin-left: 25px;
        color: #383A98;
        text-decoration: none !important;
        @media (max-width: 1024px){
            display: none;
        }
    }
}
.comunication{
    .telephone{
        color: #383A98;
        font-weight: bold;
        margin-top: 7px;
    }
    .whatsapp{
        color: #000000;
        font-weight: bold;
        margin-left: 18px;
        margin-top: 7px;
        @media (max-width: 768px){
            display: none;
        }
    }
    .btn-foms{
        padding: 5px 20px!important;
        background: #383A98 !important;
        margin-right: 25px;
        width: 190px;
        font-size: 14px !important;
        @media (max-width: 991px){
            margin-right: 0;
        }
    }
    .dropdown-item{
        transition: 0.3s;
        &:hover{
            color: #FFFFFF !important;
            background: #383A98;
        }
    }
}
.invalid-feedback{
    margin: 0 !important;
}
.invalid{
    margin: 0 !important;
}
.cotization{
    margin-top: 80px;
    @media (max-width: 768px){
        margin-top: 50px;
    }
    .form-head{
        position: relative;
        z-index: 3;
        @media (max-width: 768px){
            text-align: center;
            margin-top: 0;
        }
    }
    h2{
        margin-top: 20px;
        @media (max-width: 768px){
            font-size: 30px !important;
        }
    }
    p{
        font-size: 12px;
        margin-top: 85px;
        @media (max-width: 768px){
            margin-top: 15px;
            margin-bottom: 50px;
        }
    }
    .little-com{
        margin-top: 150px;
    }
    .send-margin{
        margin-top: 75px !important;
    }
    a{
        cursor: default;
        color: #383A98 !important;
    }
    .btn-order{
        display: none;
        margin-bottom: -30px;
        font-weight: normal !important;
        color: #FFFFFF !important;
        background: #383A98 !important;
        @media (max-width: 768px){
            display: initial;
        }
    }
    #contact-form{
        position: relative;
        z-index: 1;
        padding: 55px 60px;
        background: #F7F7F7;
        border-radius: 12px;
        @media (max-width: 768px){
            padding: 20px;
            padding-top: 60px;
        }
        h5{
            margin-bottom: 30px;
        }
        .form-control{
            border-radius: 5px;
            border: 1.5px solid #D2D2D2;
            height: 55px;
        }
        .btn-foms{
            width: 100%;
            padding-top: 17px;
            padding-bottom: 17px;
        }
        .form-group{
            margin-bottom: 15px;
            margin-top: 20px;
        }
    }
    .comercial{
        h4{
            font-size: 25px !important;
            margin-top: 25px !important;
        }
        .btn-foms{
            color: #FFFFFF !important;
            background: #383A98 !important;
            margin-top: 25px;
            padding: 10px 40px !important;
            &:hover{
                background: #79C4CC !important;
            }
        }
    }
}
.formulario{
    @media (max-width: 768px){
        padding: 0 !important;
    }
}

#sended{
    margin-top: 30px;
    margin-bottom: 30px;
    h4{
        margin-top: 30px;
    }
    p{
        margin-top: 10px;
        font-size: 16px !important;
    }
    a{
        margin-top: 40px;
        font-size: 25px;
        font-weight: bold;
    }
}
.img-separator{
    margin-top: -60px;
    margin-bottom: -150px;
    transition: 0.7s;
    @media (max-width: 768px){
        margin-top: 0;
        margin-bottom: -20px;
    }
    img{
        width: 100% !important;
        height: auto;
    }
}
.img-separator-uni{
    margin-top: -60px;
    margin-bottom: -80px;
    transition: 0.7s;
    @media (max-width: 1200px){
        margin-bottom: -20px;
    }
    @media (max-width: 768px){
        margin-top: 0;
        margin-bottom: 150px;
    }
    img{
        width: 100% !important;
        height: auto;
    }
}
.img-separator-com{
    margin-top: -60px;
    transition: 0.7s;
    @media (max-width: 768px){
        margin-top: 0;
    }
    img{
        width: 100% !important;
        height: auto;
    }
}

.cover{
    text-align: center;
    color: #FFFFFF !important;
    transition: 0.7s;
    .container{
        background: #79C4CC;
        border-radius: 13px;
    }  
    h2{
        margin-top: 50px;
        color: #FFFFFF !important;
        @media (max-width: 760px){
            margin-bottom: 20px;
            margin-bottom: 20px;
        }
    }
    .cover-card-cont{
        @media (max-width: 760px){
            padding: 20px 20px; 
            border-bottom: 1px solid #FFFFFF;
            margin-right: 20px;
            margin-left: 20px;   
        }
    }
    .cover-card{
        height: 370px;
        margin-top: 60px;
        padding: 20px 40px; 
        border-right: 1px solid #FFFFFF;
        @media (max-width: 1024px){ 
            height: 430px;
            margin-top: 0px;
            padding: 20px 20px; 
        }  
        @media (max-width: 950px){
            border: none;
            height: 470px;
        }
        @media (max-width: 768px){
            border: none;
            height: auto;
            padding: 0;
            padding-bottom: 20px;
        }
        p{
            font-size: 20px;
        }
        img{
            width: 200px;
            @media (max-width: 768px){
                width: 170px;
            }
        }
    }
    .btn{
        margin: -17px 20px 70px 0 !important;
        padding: 5px 70px !important;
        background: #3D878F !important;
        transition: 0.5s;
        @media (max-width: 768px){
            margin: -17px 0px 45px 0 !important;
        }
    }
    .btn-consult{
        border-radius: 35px;
        font-family: 'Roboto', sans-serif !important;
        font-weight: bold !important;
        font-size: 16px !important;
        line-height: 23px !important;
        color: #3D878F !important;
        background: #FFFFFF !important; 
        @media (max-width: 768px){
            font-weight: normal !important;
        }   
        &:hover{
            color: #FFFFFF !important;
            background: #3D878F  !important; 
        }
    }
    .last{
        border: none !important;
    }
}
.cover-uni{
    text-align: center;
    .card{
        position: relative;
        height: 334px;
        color: #FFFFFF !important;
        background: #79C4CC;
        border-radius: 13px;
        border: none !important;
        padding: 40px;
        padding-left: 175px;
        margin-left: 25px;
        margin-right: -25px;
        @media (max-width: 1200px){
            padding: 10px;
            padding-left: 175px;
            margin-left: 50px;
            margin-right: -50px;
        }
        @media (max-width: 992px){
            height: 423px;
            padding: 10px;
            margin: 0;
        }
        @media (max-width: 360px){
            height: 450px;
        }
        h5{
            font-size: 28px !important;
            color: #FFFFFF !important;
            @media (max-width: 992px){
                padding-top: 150px;
            }
        }
        p{
            font-size: 18px !important;
        }
        .cover-uni-img{
            position: absolute;
            top: 0;
            left: -125px;
            @media (max-width: 992px){
                top: -100px;
                left: 25%;
                height: 270px;
            }
            @media (max-width: 360px){
                left: 16%;
            }
        }
    }
}
.cover-com{
    text-align: center;
    padding-top: 115px;
    background: #F6F6F6;
    h4{
        color: #727272 !important;
        margin-top: 23px;
        margin-bottom: 84px;
    }
    .card{
        margin-bottom: -90px;
        box-shadow: 7px 7px 8px 0px gainsboro;
        @media (max-width: 1200px){
            margin-bottom: 30px;
        }
        @media (max-width: 768px){
            margin-bottom: 40px;
        }
        .card-body{
            padding: 30px !important;
            @media (max-width: 768px){
                padding-bottom: 0 !important;
            }
            .body-md{
                @media (max-width: 768px){
                    display: none;
                }
            }
        }
        h5{
            margin-top: 20px;
            color: #79C4CC;
        }
        h2{
            font-weight: bold !important;
            margin-top: 15px;
            padding-bottom: 25px !important;
            border-bottom: 1px solid #B3B3B3;
            margin-bottom: 22px;
            @media (max-width: 768px){
                border-bottom: none;
            }
        }
        .icons{
            height: 115px;;
        }
        .btn-foms{
            padding: 8px 30px !important;
            display: block;
            @media (max-width: 768px){
                margin-bottom: -25px;
                display: inline-block;
                width: 200px;
            }
        }
        .btn-consult{
            background: #383A98 !important;
            @media (max-width: 768px){
                margin-bottom: -25px;
                display: inline-block;
                width: 200px;
            }
            &:hover{
                color: #FFFFFF !important;
                background: #79C4CC  !important; 
            }
        }
    }
    .body-sm{
        @media (min-width: 768px){
            display: none;
        }
    }
    .card-text{
        text-align: left;
        margin-left: 25px;
        position: relative;
        @media (max-width: 768px){
           margin-left: 40px;
        }
    }
    .discount{
        margin-bottom: 0 !important;
    }
    .little{
        font-size: 11px !important;
        margin-bottom: 20px !important;
    }
    .check{
        position: absolute;
        top: 5px;
        left: -25px;
    }
    .last{
        h5{
            color: #383A98 !important;
        }
    }
    .last-margin{
        @media (max-width: 1200px){
            margin-bottom: -90px !important;
        }
        @media (max-width: 768px){
            margin-bottom: 40px !important;
        }
    }
}

.order{
    h2{
        text-align: center;
        margin-top: 60px;
        margin-bottom: 50px;   
    }
    .left{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 500px){
            margin-left: 30px;
        }
        @media (max-width: 380px){
            margin-left: 0px;
        }
    }
    h4, p{
        margin-top: 10px;
        margin-left: 33px;
        @media (max-width: 768px){
            margin-left: 0 !important;
        }
    }
    .right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        @media (max-width: 1024px){
            padding-right: 120px;
        }
        @media (max-width: 950px){
            h4, p{
                text-align: right;
            }
            .circle-container{
                margin-right: 45px;
                @media (max-width: 500px){
                    margin-right: 0px;
                }
            }
        }
        @media (max-width: 768px){
            padding-right: 20px;
        }
    }
    .reverse{
        @media (max-width: 768px){
            flex-direction: row-reverse;
        }
    }
    .center{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .number{
        position: relative;
        width: 51px;
        height: 51px;
        background: #383A98;
        border-radius: 50%;
        margin-right: 26px;
        @media (max-width: 768px){
            margin-left: 20px;
        }
        p{
            position: absolute;
            top: 9px;
            color: #FFFFFF;
            font-size: 24px;
            margin: 0 !important;
        }
        .one{
            right: 22px;
        }
        .two{
            top: 8px !important;
            right: 19px;
        }
    }
    .circle-container{
        position: relative;
    }
    .circle{
        position: relative;
        background: #FFD78F;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        overflow: hidden;
        @media (max-width: 768px){
            width: 130.85px;
            height: 130.85px;
         }
        &-overlay{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 120%;
            height: 190px;
            background: #F7F7F7;
            -webkit-transition: all 1s ease-out;
            -moz-transition: all 1s ease-out;
            -o-transition: all 1s ease-out;
            transition: all 1s ease-out;
        }
        &-img{
            position: absolute;
            top: 27px;
            z-index: 2;
            @media (max-width: 768px){
                top: 20px;
            }
        }
        &-img-com{
            position: absolute;
            top: -2px;
            z-index: 2;
            @media (max-width: 768px){
                top: 2px;
                height: 130px;
            }
        }
        &-img-com2{
            position: absolute;
            top: 30px;
            z-index: 2;
            @media (max-width: 1000px){
                top: 0;
                left: -16px;
            }
            @media (max-width: 768px){
                height: 130px;
            }
        }
        &-img3{
            position: absolute;
            bottom: -4px;
            z-index: 2
        }
        &-img-com3{
            position: absolute;
            bottom: -4px;
            z-index: 2;
            @media (max-width: 1000px){
                bottom: -2px;
                left: -6px;
            }
            @media (max-width: 768px){
                left: -1px;
                height: 145px;
            }
        }
        &-img4{
            position: absolute;
            top: 6px;
            z-index: 2
        }
        &-img-com4{
            position: absolute;
            bottom: -14px;
            left: 31px;
            z-index: 2;
            height: 165px;
            @media (max-width: 768px){
                bottom: -17px;
                left: 19px;
                height: 130px;
            }
        }
        &-img-final{
            height: 224px;
            @media (max-width: 768px){
                height: 180px;
            }
        }
        .circle-overlay.active {
            top: 300px;
        }
        
    }
    .final{
        background: transparent !important;
        overflow: initial !important;
    }
    
    h5{
        font-size: 25px;
    }
    h4{
        margin-top: 20px;
    }
    .simple{
        h5{
            margin-bottom: 45px;
        }
    }
}
.order-com{
    margin-top: 150px !important;
    @media (max-width: 768px){
        margin-top: 10px !important;
    }
}
.staff {
    display: none;
}

.staff.active {
    display: block;
}
.sales{
    margin-bottom: -200px;
    margin-top: 80px;
    @media (max-width: 768px){
        margin-top: 50px;
    }
    img{
        border-radius: 42px;
    }
}
.float-card{
    //position: relative;
    display: flex;
    justify-content: center;
    @media (max-width: 400px){
        display: block;
    }
    .img-container{
        @media (max-width: 1024px){
            padding: 0 !important;
            margin-bottom: -100px;
        }
    }
    p{
        margin-top: 0px;
        font-size: 17px;
        margin-bottom: 0;
    }
    .name{
        font-size: 22px;
        margin-top: 20px;
        font-weight: 500;
    }
    .card{
        position: relative;
        padding: 40px;
        width: 500px;
       // position: absolute !important;
        background: #45469F;
        border: none;
        border-radius: 13px;
        color: #FFFFFF !important;
        z-index: 1;
        .card-body{
            @media (max-width: 400px){
                padding: 10px !important;
            }
        }
        h2{
            margin-bottom: 30px;
            color: #FFFFFF !important;
            font-weight: 600;
            @media (max-width: 768px){
                margin-bottom: 10px;
                font-weight: 500;
            }
        }
        p{
            font-size: 22px;
            margin-bottom: 20px;
            @media (max-width: 768px){
                font-size: 18px;
            }
        }
        a{  
            color: #FFFFFF !important;
            font-weight: normal;
            font-size: 20px;
            font-family: 'Roboto', sans-serif !important;
            text-decoration: none !important;
            @media (max-width: 768px){
                font-size: 25px;
            }
        }
    }
}
.float-card-uni{
    //position: relative;
    display: flex;
    justify-content: center;
    @media (max-width: 400px){
        display: block;
    }
    p{
        margin-top: 0px;
        font-size: 17px;
        margin-bottom: 0;
    }
    .name{
        font-size: 22px;
        margin-top: 20px;
        font-weight: 500;
    }
    .card{
        position: relative;
        padding: 20px;
        padding-left: 180px;
        margin-left: 75px;
        width: 540px;
        height: 340px;
       // position: absolute !important;
        background: #45469F;
        border: none;
        border-radius: 13px;
        color: #FFFFFF !important;
        z-index: 1;
        @media (max-width: 992px){
            margin-left: 0;
            text-align: center;
            padding: 20px;
            padding-top: 180px;
            height: 461px;
            border-radius: 35px;
            margin-top: 100px;
        }
        .card-body{
            @media (max-width: 400px){
                padding: 10px !important;
            }
        }
        h2{
            color: #FFFFFF !important;
            font-weight: 600;
            @media (max-width: 768px){
                margin-bottom: 10px;
                font-weight: 500;
            }
        }
        p{
            font-size: 18px;
            margin-bottom: 20px;
            @media (max-width: 768px){
                font-size: 18px;
            }
        }
        a{  
            color: #FFFFFF !important;
            font-weight: normal;
            font-size: 20px;
            font-family: 'Roboto', sans-serif !important;
            text-decoration: none !important;
            @media (max-width: 768px){
                font-size: 25px;
            }
        }
    }
    .sales-uni-img{
        position: absolute;
        top: 0;
        left: -125px;
        @media (max-width: 992px){
            top: -100px;
            left: 28%;
            height: 270px;
        }
        @media (max-width: 360px){
            left: 17%;
        }
    }
}

.clients{
    padding-top: 370px;
    background: #F6F6F6;
    padding-bottom: 50px;
    h2{
        margin-bottom: 50px;
    }
    .card{
        padding: 30px !important;
        text-align: center;
        width: 560px;
        height: 200px;
        padding: 20px 30px 10px 30px;
        display: flex;
        justify-content: center;
        @media (max-width: 768px){
            height: 250px;;
         }
        h5{
            color: #383A98 !important;
            font-weight: normal !important;
        }
    }
}
.clients-com{
    padding-top: 270px !important; 
}

.social{
    background: #45469F;
    padding: 10px 0;
    .media{
        display: flex;
        justify-content: flex-end;
        padding-top: 25px;
        padding-bottom: 20px;
        @media (max-width: 768px){
            justify-content: center;
         }
        a{
            color: #FFFFFF !important;
            margin-left: 20px;
        }
        .telephone{
            margin: 0;
        }
    }
}
footer{
    background: #F6F6F6;
    padding-bottom: 20px;
    @media (max-width: 768px){
        text-align: center;
     }
    img{
        width: 100% !important;
    }
    a{
        font-family: 'Roboto', sans-serif !important;
        font-size: 12px !important;
        color: #727272 !important;
    }
    p{
        color: #727272;
        font-size: 11px;
        font-family: 'Roboto', sans-serif !important;
        margin: 0 !important;
    }
}


// --------------------------- Lines animations --------------------------------
.stroke-final{
    height: 150px !important;
    stroke-width: 8;
}
.stroke-container {
    position: relative;
    width: 220px;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}
@media (min-width: 380px) {
    .stroke-container {
        width: 280px;
        height: 140px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media (min-width: 500px) {
    .stroke-container {
        margin-left: 75px;
    }
}
@media (min-width: 768px) {
    .stroke-container {
        width: 450px;
        height: 210px;  
        margin-left: 75px;
    }
}
@media (min-width: 1024px) {
    .stroke-container {
        width: 450px;
        height: 210px;  
        margin-left: 60px;
    }
}
@media (min-width: 1200px) {
    .stroke-container {
        width: 450px;
        height: 210px;  
        margin-left: 40px;
    }
}
.stroke-back {
    z-index: 0;
}
.stroke-color {
    z-index: 1;
    display: none;
}
.stroke-color.active {
    display: block;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear forwards;
}
@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}
.stroke {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.stroke-right {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


// --------------------------- Swiper --------------------------------

.swiper-container {
    width: 100%;
    height: 100%;
    padding-bottom: 75px !important;
  }
  .swiper-slide {
    text-align: center;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-pagination-bullet-active{
    background: #383A98 !important;
  }

.footer_border_columns{
    display: none !important;
}